<div class="row">
    <div class="col">
        <div class="alert alert-secondary" role="alert" [hidden]="!message">{{ message }}</div>
        <form novalidate [formGroup]="frm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="txtTitle">Title</label>
                <input type="text" name="txtTitle" id="txtTitle" class="form-control" placeholder="Enter title" required
                    formControlName="title"
                    [ngClass]="{ 'is-invalid': (f.title.touched || f.title.dirty) && !f.title.valid }">
                <div class="invalid-feedback">
                    <span *ngIf="f.title.errors?.required">This field is required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="txtPrice">Price</label>
                <input type="number" name="txtPrice" id="txtPrice" class="form-control" placeholder="Enter price" required
                    formControlName="price"
                    [ngClass]="{ 'is-invalid': (f.price.touched || f.price.dirty) && !f.price.valid }">
                <div class="invalid-feedback">
                    <span *ngIf="f.price.errors?.required">This field is required</span>
                    <span *ngIf="f.price.errors?.min">Min price should be $1</span>
                    <span *ngIf="f.price.errors?.max">Max price should be $9999</span>
                </div>
            </div>
            <div class="form-group">
                <label for="txtDescription">Description</label>
                <textarea rows="5" name="txtDescription" id="txtDescription" class="form-control"
                    placeholder="Enter description" required formControlName="description"
                    [ngClass]="{ 'is-invalid': (f.description.touched || f.description.dirty) && !f.description.valid }"></textarea>
                <div class="invalid-feedback">
                    <span *ngIf="f.description.errors?.required">This field is required</span>
                </div>
            </div>
            <button class="btn btn-warning">Submit</button>&nbsp;
            <a [routerLink]="['/home']" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>